@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  font-size: 0.83333vw;
}

html ::-webkit-scrollbar {
  width: 0.5rem;
}

html ::-webkit-scrollbar-track {
  background: #333333;
}

html ::-webkit-scrollbar-thumb {
  background: #969696;
  border-radius: 3px;
}

html ::-webkit-scrollbar-thumb:hover {
  background: #bebebe;
}

body {
  color: #000;
  font-size: 14px;
  background-color: #333;
}

body._lock {
  overflow: hidden;
}

.transition-fade {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

html.is-animating .transition-fade {
  opacity: 1;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

html.is-leaving .transition-fade {
  opacity: 0;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

._container {
  max-width: 1380px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.moretext {
  overflow: hidden;
}

.moretext__more {
  cursor: pointer;
}

.moretext__more span {
  font-style: normal;
}

.moretext__more span:first-child {
  display: block;
}

.moretext__more span:last-child {
  display: none;
}

.moretext__more.active span {
  font-style: normal;
}

.moretext__more.active span:first-child {
  display: none;
}

.moretext__more.active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-slider .slick-slide {
  position: relative;
}

.tab__item {
  display: none;
}

.tab__item.active {
  display: block;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

.gm-style-iw-t {
  opacity: 0;
}

.baloon {
  opacity: 1;
  right: -7px !important;
  bottom: 80px !important;
}

.baloon button {
  display: none !important;
}

.baloon:after {
  display: none !important;
}

.baloon-style {
  display: none;
}

.baloon-content.gm-style-iw {
  opacity: 1;
  border-radius: 0px !important;
  max-width: 300px !important;
  padding: 0 !important;
  left: 0 !important;
  width: 100% !important;
  overflow: visible !important;
}

.baloon-content.gm-style-iw > .gm-style-iw-d {
  overflow: hidden !important;
  max-width: none !important;
}

.baloon-content.gm-style-iw:after {
  display: none !important;
}

.baloon-close {
  top: 18px !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 5;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transition-property: padding-top, padding-bottom, background-color;
  -o-transition-property: padding-top, padding-bottom, background-color;
  transition-property: padding-top, padding-bottom, background-color;
  padding: 30px;
}

.header._scroll {
  padding: 10px 30px;
  background-color: rgba(33, 33, 33, 0.8);
}

.header__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  z-index: 5;
  position: relative;
}

.header__logo .logo-link {
  display: block;
  -webkit-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
}

.header__logo .logo-link img {
  max-height: 70px;
  max-width: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__logo .logo-link:hover,
.header__logo .logo-link:focus {
  opacity: 0.7;
}

.header__actions {
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search {
  margin: 0 30px 0 15px;
}

.header__search .search-input {
  position: relative;
  width: 400px;
}

.header__search .search-input .search-area {
  width: 100%;
  height: 24px;
  padding: 0 30px 0 10px;
  border-radius: 24px;
  font-weight: 500;
}

.header__search .search-input .search-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
}

.header__cart {
  margin-right: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header__cart .cart-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: transparent;
}

.header__cart .cart-button svg path {
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.header__cart .cart-button:hover svg path,
.header__cart .cart-button:focus svg path {
  fill: #ffdb9e;
}

.header__account {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 30px;
}

.header__account .account-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header__account .account-button svg path {
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.header__account .account-button:hover svg path,
.header__account .account-button:focus svg path {
  fill: #ffdb9e;
}

.header__burger {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  position: relative;
  width: 22px;
  height: 16px;
  cursor: pointer;
  z-index: 5;
}

.header__burger:hover span,
.header__burger:focus span {
  background-color: #ffdb9e;
}

.header__burger span {
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  top: calc(50% - 1.5px);
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  right: 0px;
  width: 100%;
  height: 3px;
}

.header__burger span:first-child {
  top: 0px;
}

.header__burger span:last-child {
  top: auto;
  bottom: 0px;
}

.header__burger._active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header__burger._active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1.5px);
}

.header__burger._active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1.5px);
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(150%);
      -ms-transform: translateX(150%);
          transform: translateX(150%);
  z-index: 1;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  background-color: #0e0e0e;
}

.header__menu._active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.hd-menu__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hd-menu__navigation {
  height: 100%;
  width: 100%;
  padding: 20ch 1.875rem 6.25rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  right: 0;
}

.hd-menu__navigation::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #323232;
  -webkit-clip-path: polygon(75% 0, 100% 0%, 100% 100%, 70% 100%);
          clip-path: polygon(75% 0, 100% 0%, 100% 100%, 70% 100%);
  z-index: -1;
}

.hd-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}

.hd-menu__link {
  display: block;
  text-transform: uppercase;
  white-space: nowrap;
}

.hd-menu__link.--small {
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: -0.03em;
  margin-top: 0.625rem;
  position: relative;
}

.hd-menu__link.--small::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.25rem;
  background-color: #fff;
  border-radius: 3px;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  position: absolute;
  bottom: -0.225rem;
}

.hd-menu__link.--small:hover::after,
.hd-menu__link.--small:focus::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.hd-menu__link.--stroked .image-hover {
  display: block;
  width: 90rem;
  position: absolute;
  left: 1.875rem;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(100%);
      -ms-transform: translateY(-50%) translateX(100%);
          transform: translateY(-50%) translateX(100%);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: -1;
}

.hd-menu__link.--stroked:hover {
  color: #fff;
}

.hd-menu__link.--stroked:focus {
  color: #fff;
}

.hd-menu__link.--stroked._active .image-hover {
  opacity: 1;
  -webkit-transform: translateY(-50%) translateX(0);
      -ms-transform: translateY(-50%) translateX(0);
          transform: translateY(-50%) translateX(0);
}

.welcome-hp {
  min-height: 100vh;
  padding: 100px 0 100px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._no-webp .welcome-hp::before{
  background-image: url(../img/welcome-pg/hero-bg.jpg); }

.welcome-hp::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

.welcome-hp::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
  z-index: -1;
}

.welcome-hp__content {
  padding: 0 1.875rem;
}

.welcome-hp__content .welcome-hp__title {
  z-index: 3;
  color: #fff;
  font-family: "Fira Sans";
  font-size: 68px;
  line-height: 110%;
  white-space: pre-line;
}

.welcome-hp__content .welcome-hp__button {
  z-index: 3;
  text-transform: uppercase;
  margin-top: 25px;
  padding: 10px 32px;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  -webkit-box-shadow: inset 0px 0px 0px 3px #fff;
          box-shadow: inset 0px 0px 0px 3px #fff;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.welcome-hp__content .welcome-hp__button:hover {
  background-color: #2e2e2e;
  -webkit-box-shadow: inset 0px 0px 0px 0px #fff;
          box-shadow: inset 0px 0px 0px 0px #fff;
}

.welcome-hp__content .welcome-hp__button:focus {
  background-color: #2e2e2e;
  -webkit-box-shadow: inset 0px 0px 0px 0px #fff;
          box-shadow: inset 0px 0px 0px 0px #fff;
}

.welcome-popular {
  background-image: url(../img/spinBG-wh.svg);
  background-color: #333333;
  padding: 100px 0 120px 0;
}

.welcome-popular__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.welcome-popular__title {
  color: #efefef;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}

.welcome-popular__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.welcome-bikes__section {
  min-height: 100vh;
  padding: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.welcome-bikes__section .section-title {
  -webkit-text-stroke-width: 2px;
  font-size: 55px;
  margin: 0;
}

.welcome-bikes__section .section-button {
  margin-top: 30px;
}

._no-webp .welcome-bikes__section.--mountain{
  background-image: url(../img/welcome-pg/offroad-info.jpg); }

.welcome-bikes__section.--mountain {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

._no-webp .welcome-bikes__section.--cross{
  background-image: url(../img/welcome-pg/cross-info.png); }

.welcome-bikes__section.--cross {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.welcome-bikes__section.--cross .section-title {
  text-align: right;
}

._no-webp .welcome-bikes__section.--road{
  background-image: url(../img/welcome-pg/road-info.jpg); }

.welcome-bikes__section.--road {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

._no-webp .welcome-bikes__section.--parts{
  background-image: url(../img/welcome-pg/parts-info.jpg); }

.welcome-bikes__section.--parts {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.shop__hero-page {
  min-height: 100vh;
  padding: 100px 0;
  position: relative;
  background-color: rgba(9, 9, 9, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

._no-webp .shop__hero-backgroound{
  background-image: url(../img/mountain-shop/hot-background.jpg); }

.shop__hero-backgroound {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  opacity: 0.1;
  z-index: -1;
  text-align: center;
}

.shop__hero-backgroound .background-text {
  margin-top: 100px;
  color: #fff;
  font-size: 150px;
  font-weight: 900;
  letter-spacing: -0.07em;
}

.shop__hero-bike {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop__bike-img {
  margin-right: 50px;
}

.shop__bike-img img {
  max-width: 700px;
}

.shop__bike-info {
  color: #efefef;
  z-index: 2;
}

.shop__bike-info .bike-name .name-brand {
  font-size: 30px;
  font-weight: 300;
}

.shop__bike-info .bike-name .name-brand .brand-bold {
  font-weight: 500;
}

.shop__bike-info .bike-name .name {
  margin-top: 5px;
  font-size: 60px;
  font-weight: 700;
}

.shop__bike-info .bike-name .name-type {
  margin-top: 5px;
  font-size: 22px;
  font-weight: 300;
}

.shop__bike-info .bike-sizes {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shop__bike-info .bike-sizes .bike-size-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 60px;
  height: 60px;
  margin: 20px 20px 0 0;
  border: 1px solid #efefef;
  text-align: center;
  font-weight: 900;
}

.shop__bike-info .bike-sizes .bike-size-icon .size-symbol {
  font-size: 40px;
  letter-spacing: -0.04em;
  display: block;
  max-width: 4ch;
  padding: 0 5px;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.shop__bike-info .bike-sizes .bike-size-icon .size-text {
  font-size: 12px;
  display: block;
  max-width: 4ch;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.shop__bike-info .bike-colours {
  margin-top: 9px;
}

.shop__bike-info .bike-colours .bike-colour-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 0 1px #efefef;
          box-shadow: 0 0 0 1px #efefef;
  padding: 3px 15px 3px 6px;
  margin: 20px 20px 0 0;
  min-width: 140px;
}

.shop__bike-info .bike-colours .bike-colour-item .item-name {
  display: block;
  color: #efefef;
  font-size: 12px;
  font-weight: 300;
  max-width: 20ch;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.shop__bike-info .bike-colours .bike-colour-item .colour {
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 24px;
  width: 24px;
  margin-right: 12px;
  border-radius: 5px;
}

.shop__bike-info .bike-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10px;
}

.shop__bike-info .bike-features .bike-feature-item {
  display: block;
  margin: 10px 30px 0 0;
  font-size: 18px;
  font-weight: 700;
}

.shop__bike-info .bike-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.shop__bike-info .bike-buy .bike-buy-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 8px 38px;
  margin-right: 60px;
  color: #efefef;
  font-weight: 400;
  background-color: #2744a8;
  border-radius: 1px;
}

.shop__bike-info .bike-buy .bike-buy-button p {
  max-width: 20ch;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.shop__bike-info .bike-buy .bike-buy-price {
  font-size: 40px;
  font-weight: 500;
}

.shop__bike-info .bike-buy .bike-buy-price .symbol {
  font-weight: 900;
}

.sp-filters {
  background-color: #f2f2f2;
  display: block;
}

.sp-filters__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  overflow: hidden;
  padding: 6px 0;
}

.sp-filters__button {
  z-index: 2;
}

.sp-filters__button .filter-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #efefef;
  background-color: #333;
  padding: 6px 12px;
  position: relative;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.sp-filters__button .filter-button p {
  font-size: 16px;
  line-height: 100%;
}

.sp-filters__button .filter-button img {
  display: block;
  margin-left: 10px;
}

.sp-filters__button .filter-button:hover {
  opacity: 0.9;
}

.sp-filters__text {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.3);
  font-style: italic;
  font-size: 70px;
  font-weight: 700;
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transform: translateX(50%) translateY(-50%);
      -ms-transform: translateX(50%) translateY(-50%);
          transform: translateX(50%) translateY(-50%);
}

.shop-catalogue {
  background-image: url(../img/spinBG.svg);
  background-color: #fff;
  padding-bottom: 120px;
}

.shop-catalogue__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop-catalogue__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shop-catalogue__pagination {
  margin-top: 90px;
  background-color: #333333;
  font-size: 30px;
  text-align: center;
  color: #efefef;
  height: 45px;
}

.sp-video {
  background-color: #181818;
  padding: 35px 0;
}

.sp-video__content {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 36.5%;
}

.sp-video__content iframe {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  width: 100%;
  height: 100%;
}

.footer {
  background-color: #333;
  padding: 30px 0;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo .logo-link {
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.footer__logo .logo-link:hover {
  opacity: 0.8;
}

.footer__nav {
  width: 100%;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__nav .nav-list {
  margin: 0 15px 15px 15px;
}

.footer__nav .nav-list .nav-item {
  margin-top: 5px;
}

.footer__nav .nav-list .nav-item > a {
  position: relative;
}

.footer__nav .nav-list .nav-item > a::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  border-radius: 3px;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  position: absolute;
  bottom: -1px;
}

.footer__nav .nav-list .nav-item > a:hover::after,
.footer__nav .nav-list .nav-item > a:focus::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.footer__nav .nav-list .nav-item .nav-shop-link {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.footer__nav .nav-list .nav-item .nav-info-link {
  text-align: right;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.footer__scroll-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__scroll-link img {
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.footer__scroll-link:hover img {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.footer__scroll-link .link-text {
  color: #fff;
  white-space: nowrap;
}

.footer__copyrights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__copyrights .copyrights-text {
  color: #c0c0c0;
  text-align: center;
  white-space: pre-line;
}

.footer__copyrights .copyrights-text .text-colored {
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.footer__copyrights .copyrights-text:hover .text-colored {
  color: #ffdb9e;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.stroked-text {
  color: transparent;
  -webkit-text-stroke-width: 0.125rem;
  -webkit-text-stroke-color: #fff;
  font-weight: 700;
  font-size: 4.375rem;
  margin-top: 2rem;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.btn-dark-small {
  display: inline-block;
  color: #fff;
  background-color: #333333;
  padding: 10px 32px;
  font-size: 18px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn-dark-small:hover {
  color: #333333;
  background-color: #fff;
  -webkit-box-shadow: inset 0px 0px 0px 5px #333333;
          box-shadow: inset 0px 0px 0px 5px #333333;
}

.btn-dark-small:focus {
  color: #333333;
  background-color: #fff;
  -webkit-box-shadow: inset 0px 0px 0px 5px #333333;
          box-shadow: inset 0px 0px 0px 5px #333333;
}

.item-card {
  margin: 0 45px;
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-card .card-image {
  max-width: 320px;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}

.item-card .card-image img {
  width: 100%;
}

.item-card .card-body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 120px 5px 50px 5px;
  background-color: #dbdbdb;
  max-width: 360px;
  min-width: 360px;
}

.item-card .card-body .card-title {
  display: block;
  max-width: 100%;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-line;
  font-size: 28px;
  font-weight: 500;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.item-card .card-body .card-title .title-bold {
  font-weight: 700;
}

.item-card .card-body .card-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.item-card .card-body .card-actions .card-price {
  margin-right: 15px;
  font-size: 28px;
  font-weight: 300;
}

.item-card .card-body .card-actions .card-price .price-symbol {
  font-weight: 700;
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1392px) {
  ._container {
    max-width: 1300px;
  }
}

@media (max-width: 1180px) {
  .shop__bike-img img {
    max-width: 500px;
  }
}

@media (max-width: 991.98px) {
  html {
    font-size: 1.6129vw;
  }

  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .hd-menu__navigation::after {
    -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 45% 100%);
            clip-path: polygon(50% 0, 100% 0%, 100% 100%, 45% 100%);
  }

  .hd-menu__link.--stroked .image-hover {
    width: 70rem;
    left: -50%;
  }

  .shop__bike-img {
    position: absolute;
    opacity: 0.5;
    z-index: 1;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .shop__bike-img img {
    max-width: 100vw;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .header {
    padding: 10px;
  }

  .header._scroll {
    padding: 10px;
  }

  .header__search {
    margin-right: 15px;
  }

  .header__search .search-input {
    width: 100%;
  }

  .header__cart {
    margin-right: 15px;
  }

  .header__account {
    margin-right: 15px;
  }

  .hd-menu__link.--small {
    font-size: 2rem;
    margin-top: 1rem;
  }

  .welcome-hp__content .welcome-hp__title {
    font-size: 48px;
  }

  .welcome-bikes__section {
    padding: 30px 10px;
  }

  .welcome-bikes__section .section-title {
    font-size: 38px;
  }

  .shop__hero-backgroound .background-text {
    font-size: 70px;
  }

  .shop__bike-info .bike-name .name-brand {
    font-size: 24px;
  }

  .shop__bike-info .bike-name .name {
    font-size: 48px;
  }

  .shop__bike-info .bike-name .name-type {
    font-size: 18px;
  }

  .shop__bike-info .bike-sizes .bike-size-icon {
    height: 50px;
    min-width: 50px;
  }

  .shop__bike-info .bike-sizes .bike-size-icon .size-symbol {
    font-size: 32px;
  }

  .shop__bike-info .bike-colours .bike-colour-item {
    min-width: 50px;
  }

  .shop__bike-info .bike-buy .bike-buy-button {
    padding: 8px 22px;
  }

  .shop__bike-info .bike-buy .bike-buy-price {
    font-size: 28px;
  }

  .sp-video__content {
    max-width: none;
    height: 50vh;
    padding-bottom: 60%;
  }

  .footer__nav .nav-list .nav-item {
    margin-top: 10px;
  }
}

@media (max-width: 479.98px) {
  html {
    font-size: 2.28571vw;
  }

  .header__menu {
    width: 100%;
  }

  .hd-menu__navigation::after {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
  }

  .hd-menu__list:last-child {
    margin-bottom: 6rem;
  }

  .hd-menu__link.--stroked .image-hover {
    display: none;
  }

  .welcome-hp__content .welcome-hp__title {
    font-size: 32px;
  }

  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__nav {
    padding: 10px 10px 0 10px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .footer__nav .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__nav .nav-list .nav-item {
    margin-top: 15px;
  }

  .item-card {
    margin: 0;
  }

  .item-card .card-body {
    min-width: 100%;
  }
}

._webp .welcome-hp::before{ background-image: url(../img/welcome-pg/hero-bg.webp); }

._webp .welcome-bikes__section.--mountain{ background-image: url(../img/welcome-pg/offroad-info.webp); }

._webp .welcome-bikes__section.--cross{ background-image: url(../img/welcome-pg/cross-info.webp); }

._webp .welcome-bikes__section.--road{ background-image: url(../img/welcome-pg/road-info.webp); }

._webp .welcome-bikes__section.--parts{ background-image: url(../img/welcome-pg/parts-info.webp); }

._webp .shop__hero-backgroound{ background-image: url(../img/mountain-shop/hot-background.webp); }